/.idea
/app/Config/parameters.yml
/bin
!/bin/socket.php
/tests
/var
/vendor
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/web/uploads
/src/AppBundle/Entity/VideoEntity.php
*.php~
src/AppBundle/Repository/VideoEntityRepository.php
web/app.php
web/config.php
*.txt
jquery
bootstrap