.item-page {
    .image-container {
        text-align: center;
        min-width: 300px;
    }

    .image-container__image {
        margin-bottom: 10px;
    }

    .rate {
        font-size: 16px;
    }

    .info-block {
        div {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
        }
    }

    .tags-list {
        display: inline-block;

        &__tag {
            display: inline;
            float: left;
            margin-right: 8px;
            margin-bottom: 10px;
            padding: 5px 10px;
            background: #ECECEC;
            border-radius: 5px;

            &:hover {
                background: #DADADA;
            }
        }
    }

    .request-block {
        display: none;
    }
}