.item-page {
    .image-container {
        text-align: center;
        min-width: 300px;
    }

    .image-container__image {
        margin-bottom: 10px;
    }

    .rate {
        font-size: 16px;
    }

    .info-block {
        div {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
        }
    }

    .tags-list {
        display: inline-block;

        &__tag {
            display: inline;
            float: left;
            margin-right: 8px;
            margin-bottom: 10px;
            padding: 5px 10px;
            background: #ECECEC;
            border-radius: 5px;

            &:hover {
                background: #DADADA;
            }
        }
    }

    .comment-block {
        margin-top: 20px;
        padding-left: 0;

        .form-group {
            margin-top: 20px;

            textarea {
                padding: 15px;
                height: 145px;
            }
        }

        .delimeter {
            border-color: #EEEEEE;
            opacity: 0.6;
        }
    }

    .comment-list {
        margin-top: 20px;

        &__comment-item {
            margin: 10px 0;
            padding-left: 0;
        }
    }

    $ICON_SIZE: 70px;
    $ICON_MARGIN_RIGHT: 10px;

    .user {
        &__icon {
            width: $ICON_SIZE;
            height: $ICON_SIZE;
            border-radius: 50%;
            background: grey;
            float: left;
            margin-right: $ICON_MARGIN_RIGHT;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &__name {
            font-weight: bold;

            span {
                font-weight: normal;
                font-style: italic;
            }
        }
    }

    .text-container {
        padding-left: $ICON_SIZE + $ICON_MARGIN_RIGHT;
    }
}