{# app/Resources/views/user/seasonPage.html.twig #}

{% extends "layout.html.twig" %}

{% block mainContentStyle %}items{% endblock %}


{% block mainContent %}
<div class="items-container col-md-12">
    <div class="item-block col-md-12">
        <div class="item-block__title col-md-12">Сезон {{ season.getSeason().getName() }}</div>
        <div class="item-block__items-list col-md-12">
            {% for series in season.getSeries() %}
                <div class="user-item">
                    <div class="user-item__icon"></div>
                    <div class="user-item__visible-icon"></div>
                    <div class="user-item__description">Серия {{ series.getSeries().getName() }} </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}