{# app/Resources/views/user/userRoom.html.twig #}

{% extends "layout.html.twig" %}

{% block mainContentStyle %}user-room{% endblock %}

{% block mainContent %}
<div class="items-container col-md-12">
    <div class="settings">
        <div class="input-form">
            <form class="form-horizontal">
                <div class="">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Имя</label>
                            <input class="form-control" id="name">
                        </div>
                    </div>
                </div>
                <div class="image-loader">
                    <div class="image-loader__image"></div>
                    <div class="image-loader__description">загрузить аватар</div>
                </div>

                <div class="form-group">
                    <div class="input-button col-md-12">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}