.header {
    height: 70px;
    background: #4A4A4A;
    color: #FFFFFF;

    .header-block {
        position: relative;

        &__icon {
            position: relative;
            top: 14px;
            width: 23px;
            height: 17px;
            background: #FFFFFF;
            background-size: 23px 17px;
            float: left;
            margin-right: 6px;
        }

        &__title {
            font-size: 27px;
        }

        &_aligned {
            margin: 16px 0;
        }
    }

    .user-block {
        float: right;

        &__text {
            font-size: 18px;
            line-height: 2;
            text-decoration: none;
            color: #FFFFFF;
        }
    }
}