.sidebar {
    position: relative;
    background: #ECECEC;
    height: 100%;
    min-height: $MIN_HEIGHT;
    min-width: 250px;
}

.category-block {
    margin-top: 17px;
    margin-left: 5px;
    margin-bottom: 17px;
}

.category-block__category_element {
    margin: 5px 0;
    margin-left: 15px;
}

.category-block__name {
    margin-bottom: 5px;
    font-size: 20px;
    color: #9a9a9a;
}

.text-container {
    &__text {
        color: black;
        font-size: 18px;
    }
}

