@import "utils";

@import "header";
@import "sidebar";
@import "content";
@import "catalog/catalog";
@import "catalog/serialInfo";
@import "user/user_styles";
@import "admin/createSerial";

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.main-container {
    position: absolute;
    height: 100%;
    width: 100%;

    .content-container {
        position: relative;
        min-height: calc(100% - 70px);
        padding-bottom: $FOOTER_HEIGHT;
    }

    footer {
        margin-top: -41px;
    }
}