.settings {
  .image-loader {
    padding: 10px;
    text-align: center;

    &__image {
      width: 300px;
      height: 350px;
      border-radius: 4px;
      margin: auto;
      background-color: #DDDDDD;

      @include imageLocation();
    }

    &__description {
      margin: auto;
      margin-top: 10px;
    }

    input {
      display: none;
    }
  }
}