{# app/Resources/views/itemPage/itemPage.html.twig #}

{% extends "layout.html.twig" %}

{% block mainContentStyle %}item-page{% endblock %}

{% block mainContent %}
    <div class="image-container col-xs-3 col-sm-3">
        <img class="image-container__image" width="275" height="408"/>
        <div class="rate col-xs-12">Рейтинг {{ data.rate }}/10 </div>
    </div>
    <div class="info-block col-xs-9 col-sm-8">
        <div class="info-block__description-title title">Cюжет</div>
        <div class="info-block__description">{{ previewInfo.description }} </div>
        <div class="info-block__actors-title title">Актеры</div>
        <div class="info-block__actors-list">{{ previewInfo.actors }} </div>
        <div class="info-block__actors-title title">Жанры</div>
        <div class="info-block__tags-container tags-list">
            {% set genries = data.genries|split(',')  %}
            {% for genry in genries %}
                <span class="tags-list__tag">{{ genry }}</span >
            {% endfor %}
        </div>

    </div>
    <div class="request-block сol-xs-12">
        <div class="col-xs-8">
            <input />
            <button>Добавить</button>
        </div>
    </div>
{% endblock %}