{# app/Resources/views/template/header.html.twig #}

{% block header %}
    <header class="header">
        <div class="header-block col-xs-2 header-block_aligned">
            <div class="header-block__icon"></div>
            <div class="header-block__title">SerialsNet</div>
        </div>
        <div class="col-xs-10 header-block_aligned">
            <div class="search-field"></div>
            {% block user_block %}
                <div class="user-block">
                    <a href="{{ path('inputForm') }}" class="user-block__text"> Вход|Регистрация</a>
                </div>
            {% endblock %}
        </div>
    </header>
{% endblock %}