{# app/Resources/views/template/sidebar.html.twig #}


{% block sidebar %}
    <div class="sidebar-block col-xs-2 col-sm-2">

    {% if app.user %}
        <div class="category-block">
            <div class="category-block__name">Пользователь</div>

                <div class="category-block__category_element text-container">
                    <div class="text-container__text">Мои сериалы</div>
                </div>
                <div class="category-block__category_element text-container">
                    <div class="text-container__text">Просмотренные</div>
                </div>
                <div class="category-block__category_element text-container">
                    <div class="text-container__text">Расписание</div>
                </div>
        </div>
    {% endif %}

        <div class="category-block">
            <div class="category-block__name">Жанры</div>

            {% for genry in genries %}
            <div class="category-block__category_element text-container">
                <div class="text-container__text">{{ genry }}</div>
            </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}